<mat-toolbar>
  <div class="container__user">
    <button mat-button [matMenuTriggerFor]="menu">
      <div class="user__info">
        <img src="assets/images/user.jpg" alt="user" class="info__avatar" />
        <span class="info__username">John Doe</span>
        <mat-icon>expand_more</mat-icon>
      </div>
    </button>
  </div>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="lockSession()">
    <mat-icon>lock</mat-icon>
    <span>Bloquear sesión</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</mat-menu>
