<div class="container">
  <div class="container__info">
    Página {{ currentPage }} de {{ totalPages }} - Mostrando del
    {{ firstItem }} al {{ lastItem }} de {{ totalItems }}
  </div>
  <div class="container__controls">
    <button
      class="controls__button"
      (click)="goFirstPage()"
      [disabled]="disabledPrevious"
    >
      &#171;
    </button>

    <button
      class="controls__button"
      (click)="previousPage()"
      [disabled]="disabledPrevious"
    >
      &#60;
    </button>
    <button
      class="controls__button"
      (click)="nextPage()"
      [disabled]="disabledNext"
    >
      &#62;
    </button>
    <button
      class="controls__button"
      (click)="goLastPage()"
      [disabled]="disabledNext"
    >
      &#187;
    </button>
  </div>
</div>
