:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.container {
  width: 300px;
  overflow: hidden;
}

.container__stages {
  width: 610px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.container__stages--move {
  transform: translateX(-50%);
}

.stages__login {
  float: left;
}

.login__logo {
  max-width: 300px;
  width: 100%;
  height: 100%;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
  width: 96%;
}

.form__element {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.element__label {
  font-weight: 500;
}

.element__input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.element__button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.form__capslock {
  display: inline-block;
  padding: 5px;
  font-size: 15px;
  color: #f44336;
  text-align: center;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.stages__token {
  float: left;
}

.token__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
  width: 100%;
}

.token__logo {
  max-width: 300px;
  width: 100%;
  height: 100%;
}

.login__register {
  text-align: center;
}
