<div class="container">
  <img class="container__logo" src="assets/images/logo-horizontal.png" alt="" />
  <form class="container__form">
    <div class="form__element">
      <label class="element__label" for="email">Email</label>
      <input type="text" class="element__input" name="email" />
    </div>
    <div class="form__element">
      <label class="element__label" for="password">Password</label>
      <input type="password" class="element__input" name="password" />
    </div>
    <div class="form__element">
      <button type="button" class="element__button">Login</button>
    </div>
  </form>
</div>
