<!-- <div class="container">
  <div class="container__menu">
    <cdev-menu></cdev-menu>
  </div>
  <div class="container__header-content">
    <div class="header-content___header">
      <cdev-header></cdev-header>
    </div>
    <div class="header-content__content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<mat-sidenav-container class="container">
  <mat-sidenav class="container__menu" opened="true" mode="side">
    <cdev-menu></cdev-menu>
  </mat-sidenav>
  <mat-sidenav-content class="container__header-content">
    <div class="header-content___header">
      <cdev-header></cdev-header>
    </div>
    <div class="header-content__content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
