<mat-sidenav-container class="container">
  <mat-sidenav
    class="container__menu"
    opened="true"
    mode="side"
    *ngIf="layoutConfig?.menuVisible"
  >
    <cdev-menu></cdev-menu>
  </mat-sidenav>
  <mat-sidenav-content class="container__header-content">
    <div class="header-content___header">
      <cdev-header *ngIf="layoutConfig?.headerVisible"></cdev-header>
    </div>
    <div class="header-content__content">
      <router-outlet></router-outlet>
    </div>
    <mat-progress-bar
      mode="indeterminate"
      color="primary"
      *ngIf="showProgressBar"
    ></mat-progress-bar>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <cdev-page-lock-session *ngIf="inactivityDetected"></cdev-page-lock-session> -->

<ng-template [ngIf]="inactivityDetected">
  <cdev-page-lock-session></cdev-page-lock-session>
</ng-template>
