<h1>{{ name }}</h1>
<h2>{{ lastname.toUpperCase() }}</h2>
<h3>{{ getFullName() }}</h3>
<p>{{ date }}</p>

<input type="text" placeholder="Name" [(ngModel)]="paramName" /><br />
<input type="text" placeholder="Lastname" [(ngModel)]="paramLastname" />

<!-- <input
  type="text"
  placeholder="Name"
  (ngModelChange)="paramName = $event"
  [ngModel]="paramName"
/><br />
<input
  type="text"
  placeholder="Lastname"
  (ngModelChange)="paramLastname = $event"
  [ngModel]="paramLastname"
/> -->

<!-- <input
  type="text"
  placeholder="Name"
  (input)="captureName($event)"
  [value]="paramName"
/><br />
<input
  type="text"
  placeholder="Lastname"
  (input)="captureLastname($event)"
  [value]="paramLastname"
/> -->
<br />
<button (click)="save()">Save user</button>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Fullname</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.lastname }}</td>
      <td>{{ user.name }} {{ user.lastname }}</td>
    </tr>
  </tbody>
</table>
