/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Montserrat, sans-serif;
}

.message-error {
  color: red;
  font-size: 10px;
  font-style: italic;
}
