<ng-content></ng-content>
<perfect-scrollbar class="content">
  <table mat-table [dataSource]="rows">
    <ng-container [matColumnDef]="meta.field" *ngFor="let meta of metaColumns">
      <th mat-header-cell *matHeaderCellDef>{{ meta.header }}</th>
      <td mat-cell *matCellDef="let row">
        {{ row[meta.field] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</perfect-scrollbar>
