<div class="container">
  <img
    src="/assets/images/logo-horizontal.png"
    alt=""
    class="container__logo"
  />

  <ul class="container__menu">
    <li class="menu__item">
      <a
        routerLink="/dashboard"
        class="item__link"
        routerLinkActive="item__link--selected"
        >Dashboard</a
      >
    </li>
    <li class="menu__item">
      <a
        routerLink="/user"
        class="item__link"
        routerLinkActive="item__link--selected"
        >User</a
      >
    </li>
    <li class="menu__item">
      <a
        routerLink="/course"
        class="item__link"
        routerLinkActive="item__link--selected"
        >Course</a
      >
    </li>
    <li class="menu__item">
      <a
        routerLink="/schedule"
        class="item__link"
        routerLinkActive="item__link--selected"
        >Schedule</a
      >
    </li>
  </ul>
</div>
