.content-paginator {
  height: 10%;
  display: flex;
  align-items: center;
}

.btn-add-item {
  border: 0;
  background-color: #469ef0;
  color: #000;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}
